.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

.cardSize {
  margin-top: 50px;
  width: 50%;
  margin: auto;
}
.cardHead {
  font-size: 30px;
  margin: 40px auto;
}

@media (max-width: 800px) {
  .cardSize {
    width: 90%;
    margin: auto;
  }
}
