.ResponsiveFlex {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
}
.defineWidth {
  width: 90%;
  margin: 40px auto;
}
.flex-item-left {
  padding: 10px;
  margin-right: 7px;
  flex: 70%;
}

.flex-item-right {
  padding: 10px;
  flex: 30%;
}
.example-card-one {
  min-width: 220px;
  background-color: teal;
  color: white;
}
.example-card-two {
  min-width: 220px;
  background-color: #d21f3c;
  color: white;
}
.example-card-three {
  min-width: 220px;
  background-color: #3950b1;
  color: white;
}
@media (max-width: 900px) {
  .defineWidth {
    width: 100%;
    margin: 40px auto;
  }
  .ResponsiveFlex {
    flex-direction: column;
  }
  .flex-item-right {
    margin-top: 7px;
  }
  .flex-item-left {
    margin-right: 0px;
  }
  .example-card-one {
    margin-top: 10px;
    max-width: 100%;
  }
  .example-card-two {
    margin-top: 10px;
    max-width: 100%;
  }
  .example-card-three {
    margin-top: 10px;
    max-width: 100%;
  }
}

.mat-card-content p {
  font-size: 30px;
  margin-left: 10px;
}
