<div class="ResponsiveFlex defineWidth">
  <mat-card class="example-card-one">
    <mat-card-header>
      <mat-card-title>Balance</mat-card-title>
      <mat-card-subtitle style="color: darkgray">Remaining</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>41684</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card-two" color="primary">
    <mat-card-header>
      <mat-card-title>Spendings</mat-card-title>
      <mat-card-subtitle style="color: darkgray"
        >Total Expenses</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p>1016</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card-three">
    <mat-card-header>
      <mat-card-title>Income</mat-card-title>
      <mat-card-subtitle style="color: darkgray"
        >Total Income</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p>42700</p>
    </mat-card-content>
  </mat-card>
</div>
<app-my-charts></app-my-charts>
